  @import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
  @import url('https://fonts.googleapis.com/css?family=Oswald');
  @import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
    /* ========================== MAIN NAVIGATION ============================ */
   h2, h3, h4, h5{
    font-family: 'Orbitron', sans-serif;
  }
  .menu {
    float: right;
    clear: left;
    margin: .5rem;
    margin-right: 1rem;
    font-size: 2rem;
    color: rgb(16, 156, 121);; 
  }
@media (min-width: 867px) {
      .menu {
        display: none; 
      } 
    }
.main-heading {
    margin: 1em;
    float: left; 
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
.main-heading span{
    background-color: rgb(16, 156, 121);
   color:black;
   padding-left: 5px;
   border-radius: 5px;
   margin-left: 2px;
    font-family:Impact;
    letter-spacing: 1px;
    font-size:24px;
  }
.wrapper {
    z-index: 3;
    width: 100%;
    position: fixed;
    background:
    linear-gradient(
      rgba(56,54, 58, 1), rgba(35, 33, 39, 1)
    );
    height: 70px;
    display: flex;
    justify-content: center; 
    box-shadow: 0 1px 6px 0 rgb(20, 233, 187);
  }
.navigation {
    z-index: 3;
    width: 100%;
    position: fixed; 
  }
@media (min-width: 867px) {
      .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        
      } 
      }
.topnav {
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-y: hidden;
    height: 0;
    z-index: 10;
    background-color: rgb(30,30,30);
  }
.topnav li {
      padding: 1em; 
      
    }
@media (min-width: 867px) {
      .topnav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        height: 60px;
        transition: .5s;
        background-color: transparent;
        box-shadow: none; 
        
      }
    .topnav li {
          padding: 1.2em 0.5em; 
        } 
    }
 #spinner {
   margin: 0 auto;
   margin-top: 50px;
   width: max-content;
   border-radius: 10px;
   justify-content: center;
   padding: 50px;
   border: 2px inset cyan;
   box-shadow: 1px 2px 0px;
 }
li a {
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-size: 12px; 
    padding: 5px;
    margin: 5px;
    text-decoration:none;
    text-transform: uppercase;
  }
  li a:hover{
    color: white;
    box-shadow: 0 0 4px rgb(22, 233, 180), 0 0 6px rgb(44, 223, 193);
  }
    @media (min-width: 867px) {
      li a {
        margin: 1em;
      } 
    }
  .top {
    width: fit;
    height: 20px;
    transform: translateY(70px); 
  }
  /* ========================= RESPONSIVE CLASSES ============================ */
  .response {
    height: 180px;
    transition: 0.4s ease-in-out; 
  }
    @media (min-width: 867px) {
      .response {
        height: 70px;
        transition: none; 
      } 
    }
  
    .active{
      background-color:rgb(8, 66, 63);
    }
    .activa{
    box-shadow: 0 0 2px rgb(22, 233, 180), 0 0 2px rgb(44, 223, 193);
      color: white;
    }
/*subheader*/
.subheader{
  background: linear-gradient(45deg,#313131,#222831,#393E46);
  background-size: cover;
  padding-top:80px;
  display:flex;
  flex-direction: row;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}

.genre-container{
  display:flex;
  justify-content:flex-end;
}


.genre-container ul{
  display:flex;
  flex-direction:row;
  justify-content:flex-end;
  flex-wrap:wrap;
  border-radius:3px;
}

.genre-container li{
  list-style-type: none;
  color:white;
  padding:14px 10px 10px 10px;
  margin-right:10px;
  font-size:0.8rem;
  cursor:pointer;
  transition:0.2s;
  font-family: 'Orbitron', sans-serif;
  border-right: 1px solid black;
 text-transform: uppercase;
 border-radius:4px;
}
.genre-container li:last-child{
  border-right:none;
}
.genre-container li:hover{
  box-shadow: 0 0 4px rgb(22, 233, 180), 0 0 6px rgb(44, 223, 193);
}
.movie-container{
  display:flex;
  justify-content: center;
  align-items:center;
  padding:30px 10px;
  background-color:rgba(36,35,41);
 
}
.movie-item{
  width:50vh;
  height:70vh;
  padding:2px 3px;
  margin:6px;
 background-color:rgb(43,42,45);
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction:column;
  box-shadow: 0 0 4px rgba(0,0,0,0.6), 0 3px 6px rgba(0,0,0,0.6);
  cursor:pointer;
  transition:0.3s;
}
.movie-item:hover{
  box-shadow: 0 0 4px rgb(22, 233, 180), 0 0 6px rgb(44, 223, 193);
  transform: scale(1.05);
}
.text-container{
  display:flex;
  flex-direction:row;
  flex-wrap: nowrap;
  background-color:black;
  width:100%;
  padding:10px 0;
  text-decoration: none;
  justify-content: center;
  border:1px solid black;
}
.text-container h6{
color:white;
margin:0;
white-space: nowrap;
overflow: hidden;
padding:0 5px;
font-family: 'Irish Grover', cursive;
font-weight:normal;
}
.text-container h6:hover{
  color: cyan;
}
.infoLink{
  text-decoration: none;
}

.wrap{
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction:column;
}

.movie-cover{
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
  border:1px solid black;
  position: relative;
}
@media(min-width:568px){
  .wrap{
    flex-direction:row;
    flex-wrap: wrap;
  }
  .movie-item{
    width:180px;
    height:280px;
  }
}
@media(min-width:2140px){
  .movie-container{
    width:2140px;
  }
}
/* ========== INPUT ===============*/

input{
  background-color:rgb(25,25,25);
  border:none;
  height:30px;
  width:300px;
  border-radius:3px;
  color:white;
}
::placeholder{
  padding-left:10px;
}

/* ========================= @@@@ MEDIA QUERIES @@@@ ============= */


.info-title{
color:white;
}

/* ====================== MOVIE INFO ============================= */

.infoSection{
background-repeat: no-repeat;
background-size:cover;
}
.infoBox{
display:flex;
box-sizing:border-box;
background-color:rgba(0,0,0,0.7);
flex-wrap:wrap;
flex-direction:column;
justify-content: space-between;
margin:1em;
border-radius:5px;
}

.outer-container {
background-image: linear-gradient(rgba(0, 0, 0, 0.85) 10%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.95) 90%);
background-attachment: fixed;
margin:0;
height: 100%;
width:100%;
display:flex;
justify-content: center;
align-items:center
}

.poster img{
height:100%;
width:100%;
}

.info{
padding:2em 0.5em;
}


.detail-container{
display:flex;
flex-direction:row;
justify-content: space-between;
width:90%;
}

.column{
display:flex;
flex-direction:column;
justify-content:space-between;
}


.movie-name h1{
margin:0;
text-transform: uppercase;
color:white;
font-size:2.5em;
}
.overview h2{
color:rgb(21, 158, 151);
font-family: "Oswald";
font-weight: normal;
}
.overview p{
color:white;
font-size:1em;
}
.genres-companies h2{
color:rgb(21, 158, 151);
font-family: "Oswald";
font-weight: normal;
}
.genres-companies p{
color:white;
}
.details{
margin-bottom:10px;
}
.details h3{
color:white;
font-family: "Oswald";
font-weight: normal;
margin:0;
}
.details h2{
color:rgb(21, 158, 151);
font-family: "Oswald";
font-weight: normal;
margin:0;
}
.list{
  display: block;
}
.links{
display:flex;
cursor: pointer;
}
.li{
list-style-type:none;
background-color:rgba(80,80,80,0.5);
margin:16px 10px 16px 0;
padding:14px 0;
}
.link{
box-sizing: border-box;
padding:15px 15px;
text-decoration: none;
color:white;
font-size:14px;
font-family: "Oswald";
letter-spacing: 1px;
}

.link:hover{
color:black;
background-color:rgb(21, 158, 151);
transition:0.2s;
}


@media(min-width:568px){
.container-box{
  width:530px;
}
}

@media(min-width:867px){
.container-box{
  width:830px;
  margin:3em;
}
.infoBox{
  flex-direction:row;
  margin:1em;
}
.poster{
  width:48%;
}
.info{
  width:48%;
}
}
@media(min-width:1075px){
.container-box{
  width:1030px;
}
.poster{
  width:43%;
  
}
.info{
  width:53%;
}
}

@media(min-width:1495px){
.container-box{
  width:1470px;
}
}
/*INfo Section*/
.infoSection{
  background-repeat: no-repeat;
  background-size:cover;
}
.infoBox{
  display:flex;
  box-sizing:border-box;
  background-color:rgba(0,0,0,0.7);
  flex-wrap:wrap;
  justify-content: space-between;
  margin:1em;
  border-radius:5px;
}

.outer-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.85) 10%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.95) 90%);
  background-attachment: fixed;
  margin:0;
  height: 100%;
  width:100%;
  display:flex;
  justify-content: center;
  align-items:center
}

.poster img{
 height:100%;
 width:100%;
}

.info{
  padding:2em 0.5em;
}


.detail-container{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  width:90%;
}

.column{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}


.movie-name h1{
  margin:0;
  text-transform: uppercase;
  color:white;
  font-size:2.5em;
}
.overview h2{
  color:rgb(21, 158, 151);
  font-family: "Oswald";
  font-weight: normal;
}
.overview p{
  color:white;
  font-size:1em;
}
.genres-companies h2{
  color:rgb(21, 158, 151);
  font-family: "Oswald";
  font-weight: normal;
}
.genres-companies p{
  color:white;
}
.details{
  margin-bottom:10px;
}
.details h3{
  color:white;
  font-family: "Oswald";
  font-weight: normal;
  margin:0;
}
.details h2{
  color:rgb(21, 158, 151);
  font-family: "Oswald";
  font-weight: normal;
  margin:0;
}

.links{
  display:flex;
  cursor: pointer;
}
.li{
  list-style-type:none;
  background-color:rgba(80,80,80,0.5);
  margin:16px 10px 16px 0;
  padding:14px 0;
}
.link{
  box-sizing: border-box;
  padding:15px 15px;
  text-decoration: none;
  color:white;
  font-size:14px;
  font-family: "Oswald";
  letter-spacing: 1px;
}

.link:hover{
  color:black;
  background-color:rgb(21, 158, 151);
  transition:0.2s;
}


/* footer */
.footer{
    background: linear-gradient(45deg,#313131,#222831,#393E46);
    color: rgb(255, 255, 255);
    box-shadow: 0 -5px 5px -5px rgb(20, 233, 187);
   
  }
  .footer a{
    text-decoration: none;
    color:rgb(16, 233, 179);
  }